:root {
  --primary-text-color: #F8F8F8;
  --secondary-text-color: #DCFFAF;
  --primary-color:#001C1E;
  --secondary-color:#002528;
}

* {
  background: var(--primary-color);
  color: var(--primary-text-color);
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.flex-box {
  display: flex;
  justify-content: flex-end
}

.navigation-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation-icons img {
  width: 30px;
}
.navigation-icons .header-icon {
  margin-inline: 10px;
}

.content-wrapper .content-wrapper .description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.content-wrapper .content-wrapper .name-container {
  color: var(--secondary-text-color);
  font-weight: 16px;
}
.content-wrapper .content-wrapper .job-title {
  font-size: 45px;
  font-weight: 600;
}

.scroller {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding-block: 10px 80px;
}

.card-wrapper * {
  background-color: var(--secondary-color);
}

.card-wrapper {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 30px;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-job-container {
  display: flex;
  justify-content: space-between;
}

.name-container, .card-date {
  color: var(--secondary-text-color);
  font-size: 18px;
  margin-block: 10px;
}

.card-date {
  display: flex;
  justify-content: space-between;
}

.job-title {
  font-weight: bold;
  font-size: 46px;
  margin-block: 10px;

}

.card-job-title {
  font-weight: 500;
  font-size:24px;
}

.card-company {
  color:#A8A8A8;
  display: flex;
  align-items: center;
  gap:5px
}

.tenet_link img {
  width:25px;
  stroke: var(--secondary-text-color)
}

@media screen and (max-width: 749px) {

  body {
    padding: 30px;
  }
  .hero-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .job-title {
    font-size: 34px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
  }

  ul li {
    flex:23%;
    display: flex;
    justify-content: center;
  }

  .scroller, .card-job-container {
    flex-direction: column;
  }

  .card-wrapper {
    flex: 0 0 100%;
  }

}

@media screen and (min-width: 750px) {
  body {
    overflow-y:hidden;
  }
  .flex-box {
    padding: 40px 98px;
  }

  .scroller:last-child {
    padding-right: 98px;
  }
  .hero-wrapper {
    display: flex;
    height:100vh;
  }
  .hero-wrapper .left-container {
    flex: 0 0 20%;
  }

  .personal-description {
    width:60%;
    margin-block: 20px 60px;

  }
  .left-container {
    display: flex;
    justify-content: center;
  }

  ul {
    display: grid;
    align-items: center;
    gap: 60px;
    list-style-type: none;
    margin: 0 100px;
    padding: 160px 0px;
    border-left: 1px solid white
  }

  ul > li {
    position: relative;
    padding-left: 30px;
  }
  
  ul > li::after {
    --size: 10px;
  
    content: "";
    width: var(--size);
    aspect-ratio: 1;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: -10px;
    left: calc(var(--size) / -2);
    outline: 10px solid rgba(255, 255, 255, 0.274);
    animation: pulse 4s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      outline-color: #dcffaf75;
      outline-offset: 0px;
    }
    50% {
      outline-color: #dcffafa3;
      outline-offset: 6px;
    }
    100% {
      outline-color: #dcffaf46;
      outline-offset: 0px;
    }
  }
  
}